:root {
    --main-bg-color: rgb(75, 0, 0);
}

body {
    background-color: var(--main-bg-color);
    background-image: url(../res/hero-bg.png);
    background-size: cover;
    background-blend-mode: lighten;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: var(--main-bg-color);
}

nav {
    background-color: transparent;
    transition: all 0.5s ease;
}

nav .d-flex {
    width: 100%;
}

nav .collapse {
    max-width: 60%;

}


/* SHOP */
.prod {
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10%;
}

.product-details {
    margin: 5%;
}

.product-details h5 {
    color: rgb(233, 228, 210);
}

.price h5 {
    color: rgb(0, 0, 0);
}



.user-card {
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
}

.white {
    color: rgb(233, 228, 210);
}