:root {
    --main-bg-color: rgb(14, 0, 0);
    --secondary-bg-color: rgb(40, 36, 56);
    --secondary-color-light: rgb(167, 119, 114);
    --secondary-color-dark: rgb(38, 8, 5);
    --margin-side-noCollapse: 10%;
    --margin-side-collapse: 0%;
    --font-color-nonActive: rgba(255, 255, 255, 0.8);
    --font-color-Active: rgba(255, 255, 255);
}


body {
    background-color: var(--main-bg-color);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body main section:first-of-type {
    background-image: url(../res/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    background-blend-mode: lighten;
}

header {
    background-color: var(--main-bg-color);
}

nav {
    background-color: transparent;
    transition: all 0.5s ease;
}

nav .d-flex {
    width: 100%;
}

nav .navbar-brand {
    margin-left: var(--margin-side-noCollapse);
}

nav .text-end {
    margin-right: var(--margin-side-noCollapse);
}


nav .dropdown-menu {
    background-color: var(--main-bg-color);
}

nav .dropdown-menu a,
nav .dropdown-menu .dropdown-divider {
    color: rgba(255, 255, 255, 0.7);
}

nav .dropdown-menu a:hover {
    color: rgb(0, 0, 0);
    background-color: var(--secondary-color-light);
}

/* FOOTER */
footer {
    background-color: var(--secondary-bg-color);

}

footer a,
footer span,
footer p {
    color: var(--font-color-nonActive) !important;
}

footer .input-group input,
footer .input-group svg,
footer .input-group span {
    background-color: transparent;
    border: 0px;
}

footer .input-group input[type=text]::placeholder {
    color: var(--font-color-Active);
}

footer h3 {
    color: var(--secondary-color-light);
}

footer .footer_icon svg {
    color: var(--secondary-color-light);
}

footer .form-group button {
    background-color: var(--secondary-color-light);
}



/* ============== */
/* === HOME === */
/* ============== */


.barra_ricerca {
    background-color: var(--secondary-color-dark);
    border: 2px solid;
    border-color: var(--secondary-color-light);
    border-radius: 20px;
}

.barra_ricerca .form-control,
.barra_ricerca .input-group,
.barra_ricerca span {
    background-color: transparent;
    border: 0px;
}

.barra_ricerca ::placeholder,
.barra_ricerca form button,
.barra_ricerca svg {
    text-decoration: none;
    color: var(--font-color-Active);
}

.barra_ricerca button[type=submit] {
    background-color: var(--secondary-color-light) !important;
}


.tipologie a.btn-link,
.marche a.btn-link,
.ultimi_arrivi a.btn-link,
.preview_chisiamo a.btn-link {
    background-color: transparent;
    color: var(--font-color-Active);
}

.tipologie .col a,
.marche .col a,
.ultimi_arrivi .col a {
    color: var(--font-color-nonActive);
    text-decoration: none;
}

.preview_modelli .card {
    background-color: var(--secondary-bg-color);
    color: var(--font-color-nonActive);
}

.preview_negozio {
    margin-left: var(--margin-side-noCollapse);
    margin-right: var(--margin-side-noCollapse);
}

.preview_negozio .card {
    background-color: var(--secondary-bg-color);
}


/* ============== */
/* === SHOP === */
/* ============== */
.prod {
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10%;
}

.product-details {
    margin: 5%;
}

.product-details h5 {
    color: rgb(233, 228, 210);
}

.price h5 {
    color: rgb(0, 0, 0);
}



.user-card {
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
}

.white {
    color: rgb(233, 228, 210);
}


/* ================ */
/* === CARRELLO === */
/* ================ */

#listaArticoli,
#totale {
    display: inline-block;
}

#totale {
    width: 30%;
    float: right;
    margin-right: var(--margin-side-noCollapse);
}

#listaArticoli {
    width: 50%;
    margin-left: var(--margin-side-noCollapse);
}

/* ================ */
/* === ACQUISTO === */
/* ================ */

#infoAcquisto,
#totaleAcquisto {
    display: inline-block;
}

#totaleAcquisto {
    width: 30%;
    float: right;
    margin-right: var(--margin-side-noCollapse);
}

#infoAcquisto {
    width: 50%;
    margin-left: var(--margin-side-noCollapse);
}


/* ============== */
/* === MOBILE === */
/* ============== */
@media screen and (max-width: 991px) {
    nav .navbar-brand {
        margin-left: var(--margin-side-collapse);
    }

    nav .text-end {
        margin-right: var(--margin-side-collapse);
    }

    body main section:first-of-type {
        background-size: 760px 325px;
    }

    #listaArticoli,
    #totale {
        float: none;
        display:inline-block;
    }
    
    #listaArticoli{
        width:80%;
        margin: 0 10%;
        position: absolute;
        z-index: -1;
    }

    #totale{
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    #infoAcquisto,
    #totaleAcquisto {
        float: none;
        display:inline-block;
    }
    
    #infoAcquisto{
        width:80%;
        margin: 0 10%;
    }

    #totaleAcquisto{
        width: 96%;
        margin: 0 2%;
    }
}