:root {
    --main-bg-color: rgb(77, 46, 46);
}

body {
    background-color: var(--main-bg-color);
    background-image: url(../res/hero-bg.png);
    background-blend-mode: lighten;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: var(--main-bg-color);
}

nav .d-flex {
    width: 100%;
}





/* SHOP */
.prod{
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10%;
}
.product-details{
    margin: 5%;
}

.product-details h5{
    color: rgb(233, 228, 210);
}
.price h5{
    color: rgb(0, 0, 0);
}



.user-card{
    background-color: rgba(238, 216, 216, 0.397);
    border-radius: 5px;
}

.white{
    color: rgb(233, 228, 210);
}